<section class="hero is-medium is-light is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Start a poll today!
      </h1>
      <h2 class="subtitle">
        Create simple polls in seconds.
      </h2>
    </div>
  </div>
</section>