<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Voting-App-Fcc
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {{#if user}}
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <!-- hidden on mobile -->
        <a class="navbar-item" href="/dashboard/mypolls">
          My Polls
        </a>
        <a class="navbar-item" href="/dashboard/new">
          New Poll
        </a>
        <a class="navbar-item" href="/users/logout">
          Logout
        </a>
      </div>
    </div>
    {{else}}
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <!-- hidden on mobile -->
        <a class="navbar-item" href="/users/login">
          Signin
        </a>
        <a class="navbar-item" href="/users/register">
          Singnup
        </a>
      </div>
    </div>
    {{/if}}
  </div>
</nav>