<div class="container">
  <h3 class="text-center">Account Register</h3>
  <form action="/users/register" method="post">
    <div class="field">
      <label for="name" class="label">Name</label>
      <div class="control">
        <input type="text" class="input" name="name" value="" required>
      </div>
    </div>
    <div class="field">
      <label for="email" class="label">Email</label>
      <div class="control">
        <input type="email" name="email" class="input" value="" required>
      </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password</label>
      <div class="control">
        <input type="password" name="password" class="input" value="" required>
      </div>
    </div>
    <div class="field">
      <label for="password2" class="label">Confirm Password</label>
      <div class="control">
        <input type="password" name="password2" class="input" value="" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>